.button {
    display: block;
    height: 44px;
    width: fit-content;
    margin: 0 1em 1em 0;
    padding: 0 1em;
    background-color: var(--orange);
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    line-height: 48px;
    text-decoration: none;
    border-radius: 4px;
    text-shadow: 0 -1px -1px var(--orange-dark);
    box-shadow: 0 4px 0 var(--orange-dark), 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    transition: all .1s ease-in-out;
    /* Make text not selectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    background-color: var(--orange-light);
    cursor: pointer;
    text-shadow: 0 -1px -1px var(--orange-dark);
    box-shadow: 0 4px 0 var(--orange-dark), 0 5px 5px 1px rgba(0, 0, 0, 0.4);
}

.button:active {
    transform: translateY(4px);
    box-shadow: none;
}

/* Book button */

.red-button {
    font-size: 1em;
    background-color: var(--red);
    text-shadow: 0 -1px -1px var(--red-dark);
    box-shadow: 0 4px 0 var(--red-dark), 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    height: 2em;
    width: initial;
    padding: 0 0.75em;
    margin: 8px 0;
    line-height: calc(2em + 2px);
}

.red-button:hover {
    background-color: var(--red-light);
    text-shadow: 0 -1px -1px var(--red-dark);
    box-shadow: 0 4px 0 var(--red-dark), 0 5px 5px 1px rgba(0, 0, 0, 0.4);
}

.red-button:active {
    transform: translateY(4px);
    box-shadow: none;
}

/* Search button */

.search-button {
    color: white;
    background-color: var(--purple);
    text-shadow: none;
    box-shadow: none;
    margin: 0;
    line-height: 45px;
    font-size: 1em;
    font-weight: normal;
    border-radius: 0 4px 4px 0;
    border: 1px solid var(--purple);
}

.search-button:hover {
    background-color: var(--purple);
    text-shadow: none;
    box-shadow: none;
}

.search-button:active {
    background-color: var(--purple-dark);
    transform: none;
    box-shadow: none;
    transition: none;
}

.book-detail-back-button {
    margin-right: auto;
    width: 15%;
    margin-bottom: 24px;
}

#more-books-button {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}